.cardIssue{
	margin:10px;
	width: 100%;
	max-width: 600px;
	text-align: left;
}





.numberIssue{
	font-size: 20px;
	font-weight: bold;
	margin-right: 5px;
	display: inline-block;
}

.issueLabel{
	font-size: 18px !important;
	margin-right: 5px;
	cursor: pointer;
}

.titleIssue{
	font-size: 16px;
	
}

.lDetails{
	color: steelblue;
	cursor: pointer;
	text-decoration: underline;
}