<div class="card cardIssue">
	
  <div class="card-body">
  	
    <label class="titleIssue">
    	<span class="numberIssue">#{{issueJson.number}}</span> 
    	{{issueJson.title}}
    </label>
    <div>
	    <div  *ngIf="issueJson.body && issueJson.body.length>0" style="display: inline-block;">
		    <label class="lDetails" *ngIf="issueJson.mostrar==false" (click)="mostrar(issueJson)">+Details</label>
		    <label  class="lDetails"  *ngIf="issueJson.mostrar" (click)="mostrar(issueJson)">-Details</label>
		</div>
		<label  class="lDetails" style="float: right;" (click)="clickComments(issueJson)">{{issueJson.comments}} Comments</label>
	</div>
		
	<div *ngIf="issueJson.mostrar && issueJson.body && issueJson.body.length>0">
	    <div [innerHTML]="issueJson.body"></div>
	</div>

	<div>
	    <span class="badge badge-primary issueLabel" *ngFor="let label of issueJson.labels" (click)="clickLabel(label.name)" >{{label.name}}</span>
	</div>

  </div>
  <div class="card-header">
  		<img src="{{issueJson.user.avatar_url}}" class="userIssueImg" (click)="clickUser(issueJson.user)">
	    <label class="userIssueName" (click)="clickUser(issueJson.user)">{{issueJson.user.login}}</label>
  </div>
 </div>