.cardFilter{
	margin:10px;
	width: 100%;
	max-width: 800px;
	text-align: left;
	display: inline-block;
}

.divIssuesList{
	text-align: center;
	display: inline-block;
	margin: auto;
}

.page-item{
	color: steelblue;
}
.pagAct{
	background-color: steelblue !important;
	color: white !important;
}

.form-group {
     margin-bottom: 0px;
}

h1{
	text-align: center;
	color: #444;
}