<h1>Issues from {{repository.name}}</h1>

<div style="width: 100%; text-align: center; margin-bottom: 15px;">
  <div class="card cardFilter">
    
    <div class="card-body" style="padding: 10px;">
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="inputCity" placeholder="With label..."  [(ngModel)]="issueLabel">
        </div>
        <div class="form-group col-md-4">
          <select id="inputState" class="form-control" [(ngModel)]="issueStates">
            <option selected value="open">Opened issues</option>
            <option  value="all">All issues</option>
            <option value="closed">Closed issues</option>
            
          </select>
        </div>
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-primary" (click)="update()">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example" *ngIf="pages.length>0">
  <ul class="pagination pagination-sm  justify-content-center">
    <li class="page-item"><a class="page-link"   (click)="previousPage()">Previous</a></li>
    <li class="page-item"  *ngIf="botonMin>1"><a class="page-link" (click)="changePage(1)">{{1}}</a></li>
    <li class="page-item"  *ngIf="botonMin>1"><a class="page-link">...</a></li>
    
    <li class="page-item "  *ngFor="let i of pages"><a class="page-link" [ngClass]="{'pagAct': i==actPage}" (click)="changePage(i)">{{i}}</a></li>
    <li class="page-item"  *ngIf="botonMax<maxPages"><a class="page-link">...</a></li>
    <li class="page-item"  *ngIf="botonMax<maxPages"><a class="page-link" (click)="changePage(maxPages)">{{maxPages}}</a></li>
    <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
  </ul>
</nav>

<div style="width: 100%; text-align: center;">
  <div class="divIssuesList">
  	<app-issue *ngFor="let issue of issues" [issueJson]="issue" [listener]="this"></app-issue>
  </div>
</div>

<nav aria-label="Page navigation example" *ngIf="pages.length>0">
  <ul class="pagination pagination-sm  justify-content-center">
    <li class="page-item"><a class="page-link"   (click)="previousPage()">Previous</a></li>
    <li class="page-item"  *ngIf="botonMin>1"><a class="page-link" (click)="changePage(1)">{{1}}</a></li>
    <li class="page-item"  *ngIf="botonMin>1"><a class="page-link">...</a></li>
    
    <li class="page-item "  *ngFor="let i of pages"><a class="page-link" [ngClass]="{'pagAct': i==actPage}" (click)="changePage(i)">{{i}}</a></li>
    <li class="page-item"  *ngIf="botonMax<maxPages"><a class="page-link">...</a></li>
    <li class="page-item"  *ngIf="botonMax<maxPages"><a class="page-link" (click)="changePage(maxPages)">{{maxPages}}</a></li>
    <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
  </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="modalComentarios" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-comment [commentJson]=comment *ngFor="let comment of commentsJson"></app-comment>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>