<div class="card" style="margin-bottom: 10px;">
	
  <div class="card-body">
  	<div [innerHTML]="commentJson.body"></div>
  </div>
  <div class="card-header">
  		<img src="{{commentJson.user.avatar_url}}" class="userIssueImg" (click)="clickUser(commentJson.user)">
	    <label class="userIssueName" (click)="clickUser(commentJson.user)">{{commentJson.user.login}}</label>
  </div>
</div>