/* You can add global styles to this file, and also import other style files */
.userIssueImg{
	width: 32px;
	border-radius: 16px;
	height: 32px;
	cursor: pointer;
}

.userIssueName{
	color:steelblue;
	text-decoration: underline;
	margin-left: 10px;
	cursor: pointer;
}