<div class="container">
  <div class="jumbotron">
    <h1>Iron-Issues</h1>
    <h2>Angular & Bootstrap Demo</h2>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">Introduce github user/repository</div>
    <div class="panel-body">
      <div class="form-row">
  			<div class="col-7">
			    <input type="text" class="form-control" placeholder="URL del proyecto GitHub" [(ngModel)]="repo" >
			</div>
			<div class="col">
			    <button type="submit" class="btn btn-primary" (click)="clickStart()">Go</button>
			</div>
  		</div>
    </div>
  </div>
</div>